github.Rproj
.Rproj.user/
*.Rhistory
*.RData
*.Ruserdata
manuscript/*.gz
manuscript/*.log
manuscript/*.aux
manuscript/*.bbl
manuscript/*.lof
manuscript/*.lot
manuscript/*.toc
manuscript/*.blg
models/q1_mc_fit.rds
models/q2q3_mc_fit.rds
models/impute_data_fit.rds
data/old/
.Rproj.user
*.Rproj
models/kfold/*llk_h.rds
models/kfold/*llk.rds