data/old/
data/sessions/
presentation/
manuscript/*
manuscript/manuscript.pdf
manuscript/manuscript.tex
manuscript/references.bib
!manuscript/appendices.pdf
!manuscript/appendices.tex
!manuscript/appendices.bib
results/*_fit.rds
results/*_kfold.rds
models/*.rds
models/kfold/*.rds
scripts/calculate_descriptive_statistics.R
.Rproj.user
